# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins, "RLE Dekompression", com.hftl.deutschlandverteilt.imagej.Dekompression_

Abb 1: Trendanalyse des Suchwortes Bitcoin bei Google, URL: https://trends.google.com/trends/explore?date=2008-01-11%202018-04-22&q=Bitcoin, Datum: 11.05.18

